# 2021-05-13

## 자료구조와 배열

자료구조를 정의하고 기본 자료구조인 배열을 살펴본다.  
배열을 리스트와 튜플로 구현한다.

In [2]:
#[Do it! 실습 2-1] 학생 5명의 점수를 입력받아 합계와 평균을 출력하기

print('학생 그룹 점수의 합계와 평균을 구합니다.')

score1 = int(input('1번 학생의 점수를 입력하세요.: '))
score2 = int(input('2번 학생의 점수를 입력하세요.: '))
score3 = int(input('3번 학생의 점수를 입력하세요.: '))
score4 = int(input('4번 학생의 점수를 입력하세요.: '))
score5 = int(input('5번 학생의 점수를 입력하세요.: '))

total = 0
total += score1
total += score2
total += score3
total += score4
total += score5

print(f'합계는 {total}점입니다.')
print(f'평균은 {total / 5}점입니다.')

학생 그룹 점수의 합계와 평균을 구합니다.
1번 학생의 점수를 입력하세요.: 1
2번 학생의 점수를 입력하세요.: 2
3번 학생의 점수를 입력하세요.: 3
4번 학생의 점수를 입력하세요.: 4
5번 학생의 점수를 입력하세요.: 5
합계는 15점입니다.
평균은 3.0점입니다.

파이썬에서 배열 원소의 자료형은 int, float형 어떤 것이라도 상관없다.  
배열에는 서로 다른 자료형을 같이 저장할 수 있으며, 배열 원소 자체를 배열에 저장할수도 있다.

## list

list는 뮤터블 자료형이다.

In [3]:
list_1 = list()

In [4]:
list_1

[]

In [5]:
list_2 = list(range(13,3,-2))
list_2

[13, 11, 9, 7, 5]

## Tuple

tuple은 이뮤터블 자료형이다.

In [7]:
a = ()
b = (1)
c = (1,)
d = 1,

In [8]:
a

()

In [9]:
b

1

In [10]:
c

(1,)

In [11]:
d

(1,)

In [12]:
type(b)

int

In [13]:
b = (1,2)

In [14]:
type(b)

tuple

원소가 1개 일때는 쉼표를 입력해서 튜플로 만들어줘야한다.

In [15]:
a = tuple()
b = tuple('ABC')
c = tuple([1,2,3])
d = tuple({1,2,3})

In [16]:
a

()

In [17]:
b

('A', 'B', 'C')

In [18]:
c

(1, 2, 3)

In [19]:
d

(1, 2, 3)

## unpack

In [20]:
x = [1,2,3]
a,b,c = x

In [21]:
a

1

In [22]:
b

2

In [23]:
c

3

In [24]:
a, b, c

(1, 2, 3)

In [25]:
type(a)

int

# 인덱스 사용하기

In [26]:
x = [1,2,3,4,5,6,7]

In [27]:
x[0]

1

In [28]:
x[-1]

7

In [29]:
x[-2] = 0.5

In [30]:
x

[1, 2, 3, 4, 5, 0.5, 7]

In [31]:
x[7]

IndexError: list index out of range

In [32]:
x[7] = 8

IndexError: list assignment index out of range

In [33]:
x.append(8)

In [34]:
x

[1, 2, 3, 4, 5, 0.5, 7, 8]

In [1]:
#슬라이스식으로 원소에 접근하기

In [2]:
s = [1,2,3,4,5,6,7]

In [3]:
s[0:5]

[1, 2, 3, 4, 5]

In [4]:
s[0:6:2]

[1, 3, 5]

In [5]:
s[0:7:2]

[1, 3, 5, 7]

In [6]:
s[3:1]

[]

In [12]:
s = list(range(0,30))

In [13]:
s

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [14]:
s[:]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [15]:
s[::2]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [16]:
s[::-1]

[29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [17]:
s[::-2]

[29, 27, 25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [18]:
n = 5

In [19]:
id(n)

94040365304640

In [20]:
n = 'ABC'

In [21]:
id(n)

140542705848424

변수에 어떤값을 대입하면 값이 아니라 식별번호가 바뀐다.

In [22]:
n = 12

In [23]:
id(n)

94040365304864

In [24]:
n += 1

In [25]:
id(n)

94040365304896

n이 참조하는 곳을 업데이트했다.

In [26]:
x = 0

In [27]:
type(x+17)

int

In [28]:
type(x=17)

TypeError: type() takes 1 or 3 arguments

x = 17은 문이다 <- =는 연산자가 아니다.

In [30]:
a = b = 1

In [31]:
a

1

In [32]:
b

1

In [33]:
a = (b = 1)

SyntaxError: invalid syntax (<ipython-input-33-617c7ee44f9d>, line 1)

## 자료구조

자료구조: 데이터 단위와 데이터 자체 사이의 물리적 또는 논리적인 관계

In [34]:
x = [1, 2, 3, 4.4, [5,6], 'ABC']

In [35]:
len(x)

6

In [40]:
if x:
    print(1)

1

In [41]:
[1,2,3] == [1,2,3]

True

In [42]:
[1,2,3] < [1,2,4]

True

In [43]:
[1,2,3,4] <= [1,2,3,4]

True

In [44]:
[1,2,3] < [1,2,3,5]

True

In [45]:
[1,2,3] < [1,2,3,5] < [1,2,3,5,6]

True

In [49]:
[1,2,3] < [1,2,3,5] < [1,2,2]

False

In [48]:
[1,2,3] < [1,3,1]

True

In [50]:
min(x)

TypeError: '<' not supported between instances of 'list' and 'int'

### 등가성, 동일성

등가성 비교는 ==, 동일성 비교는 is를 사용한다.

ex) 두 객체의 값이 같은지 비교하려면 ==, 두 객체의 값과 식별 번호가 같은지 비교하려면 is

이터러블한가?
참조: https://sikaleo.tistory.com/61

### 내포 표기 생성

In [51]:
x = [1,2,3,4,5]
x_2 = [num * 2 for num in x if num % 2 == 1]

x_2

[2, 6, 10]