# 2021-05-13

## 자료구조와 배열

자료구조를 정의하고 기본 자료구조인 배열을 살펴본다.  
배열을 리스트와 튜플로 구현한다.

In [11]:
#[Do it! 실습 2-1] 학생 5명의 점수를 입력받아 합계와 평균을 출력하기

print('학생 그룹 점수의 합계와 평균을 구합니다.')

score1 = int(input('1번 학생의 점수를 입력하세요.: '))
score2 = int(input('2번 학생의 점수를 입력하세요.: '))
score3 = int(input('3번 학생의 점수를 입력하세요.: '))
score4 = int(input('4번 학생의 점수를 입력하세요.: '))
score5 = int(input('5번 학생의 점수를 입력하세요.: '))

total = 0
total += score1
total += score2
total += score3
total += score4
total += score5

print(f'합계는 {total}점입니다.')
print(f'평균은 {total / 5}점입니다.')

학생 그룹 점수의 합계와 평균을 구합니다.

파이썬에서 배열 원소의 자료형은 int, float형 어떤 것이라도 상관없다.  
배열에는 서로 다른 자료형을 같이 저장할 수 있으며, 배열 원소 자체를 배열에 저장할수도 있다.

## list

list는 뮤터블 자료형이다.

In [ ]:
list_1 = list()

In [ ]:
list_1

[]

In [ ]:
list_2 = list(range(13,3,-2))
list_2

[13, 11, 9, 7, 5]

## Tuple

tuple은 이뮤터블 자료형이다.

In [ ]:
a = ()
b = (1)
c = (1,)
d = 1,

In [ ]:
a

()

In [ ]:
b

1

In [ ]:
c

(1,)

In [ ]:
d

(1,)

In [ ]:
type(b)

int

In [ ]:
b = (1,2)

In [ ]:
type(b)

tuple

원소가 1개 일때는 쉼표를 입력해서 튜플로 만들어줘야한다.

In [ ]:
a = tuple()
b = tuple('ABC')
c = tuple([1,2,3])
d = tuple({1,2,3})

In [ ]:
a

()

In [ ]:
b

('A', 'B', 'C')

In [ ]:
c

(1, 2, 3)

In [ ]:
d

(1, 2, 3)

## unpack

In [ ]:
x = [1,2,3]
a,b,c = x

In [ ]:
a

1

In [ ]:
b

2

In [ ]:
c

3

In [ ]:
a, b, c

(1, 2, 3)

In [ ]:
type(a)

int

# 인덱스 사용하기

In [ ]:
x = [1,2,3,4,5,6,7]

In [ ]:
x[0]

1

In [ ]:
x[-1]

7

In [ ]:
x[-2] = 0.5

In [ ]:
x

[1, 2, 3, 4, 5, 0.5, 7]

In [ ]:
x[7]

IndexError: list index out of range

In [ ]:
x[7] = 8

IndexError: list assignment index out of range

In [ ]:
x.append(8)

In [ ]:
x

[1, 2, 3, 4, 5, 0.5, 7, 8]

In [ ]:
#슬라이스식으로 원소에 접근하기

In [ ]:
s = [1,2,3,4,5,6,7]

In [ ]:
s[0:5]

[1, 2, 3, 4, 5]

In [ ]:
s[0:6:2]

[1, 3, 5]

In [ ]:
s[0:7:2]

[1, 3, 5, 7]

In [ ]:
s[3:1]

[]

In [ ]:
s = list(range(0,30))

In [ ]:
s

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [ ]:
s[:]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [ ]:
s[::2]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
s[::-1]

[29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [ ]:
s[::-2]

[29, 27, 25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [ ]:
n = 5

In [ ]:
id(n)

94040365304640

In [ ]:
n = 'ABC'

In [ ]:
id(n)

140542705848424

변수에 어떤값을 대입하면 값이 아니라 식별번호가 바뀐다.

In [ ]:
n = 12

In [ ]:
id(n)

94040365304864

In [ ]:
n += 1

In [ ]:
id(n)

94040365304896

n이 참조하는 곳을 업데이트했다.

In [ ]:
x = 0

In [ ]:
type(x+17)

int

In [ ]:
type(x=17)

TypeError: type() takes 1 or 3 arguments

x = 17은 문이다 <- =는 연산자가 아니다.

In [ ]:
a = b = 1

In [ ]:
a

1

In [ ]:
b

1

In [ ]:
a = (b = 1)

SyntaxError: invalid syntax (<ipython-input-33-617c7ee44f9d>, line 1)

## 자료구조

자료구조: 데이터 단위와 데이터 자체 사이의 물리적 또는 논리적인 관계

In [ ]:
x = [1, 2, 3, 4.4, [5,6], 'ABC']

In [ ]:
len(x)

6

In [ ]:
if x:
    print(1)

1

In [ ]:
[1,2,3] == [1,2,3]

True

In [ ]:
[1,2,3] < [1,2,4]

True

In [ ]:
[1,2,3,4] <= [1,2,3,4]

True

In [ ]:
[1,2,3] < [1,2,3,5]

True

In [ ]:
[1,2,3] < [1,2,3,5] < [1,2,3,5,6]

True

In [ ]:
[1,2,3] < [1,2,3,5] < [1,2,2]

False

In [ ]:
[1,2,3] < [1,3,1]

True

In [ ]:
min(x)

TypeError: '<' not supported between instances of 'list' and 'int'

### 등가성, 동일성

등가성 비교는 ==, 동일성 비교는 is를 사용한다.

ex) 두 객체의 값이 같은지 비교하려면 ==, 두 객체의 값과 식별 번호가 같은지 비교하려면 is

이터러블한가?
참조: https://sikaleo.tistory.com/61

### 내포 표기 생성

In [ ]:
x = [1,2,3,4,5]
x_2 = [num * 2 for num in x if num % 2 == 1]

x_2

[2, 6, 10]

# 21-05-14

## 2-2 배열이란?

배열 원소의 최댓값 구하기

In [ ]:
def max_of(a):
    maximum = a[0]
    for i in range(1, len(a)):
        if a[i] > maximum:
            maximum = a[i]

이와 같이 배열 원소를 하나씩 차례로 주목하여 살펴보는 방식을 알고리즘 용어로 스캔이라 한다.

In [ ]:
# 시퀀스 원소의 최댓값 출력하기

from typing import Any, Sequence

def max_of(a: Sequence) -> Any:
    # 시퀀스형 a원소의 최댓값을 반환
    maximum = a[0]
    for i in range(1,len(a)):
        if a[i] > maximum:
            maximum = a[i]
            
    return maximum

if __name__ == '__main__':
    print('배열의 최댓값을 구합니다.')
    num = int(input('원소 수를 입력하세요.: '))
    x = [None] * num
    
    for i in range(num):
        x[i] = int(input(f'x[{i}]값을 입력하세요.: '))
        
    print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.
원소 수를 입력하세요.: 5
x[0]값을 입력하세요.: 1
x[1]값을 입력하세요.: 2
x[2]값을 입력하세요.: 3
x[3]값을 입력하세요.: 4
x[4]값을 입력하세요.: 5
최댓값은 5입니다.

# 2021-05-15

from typing import Any, Sequence  
Any 는 제약이 없는 임의의 자료형

def max_of(a: Sequence) -> Any:  
건네받는 매개변수 a의 자료형은 Sequence, 반환은 Any형태로 반환

뮤터블 시퀀스? 는 무엇인가

함수 어노테이션  
참고자료: https://bluese05.tistory.com/78

if __name__ == __main__  
다른 스크립트 프로그램에서 임포트한 경우에느 거짓이됨으로 실행되지 않음

- 스크립트 프로그램이 직접 실행될때 변수 __name__ 은 ' __main__'이다
- 스크립트 프로그램이 임포트될 때 변수 __name__은 원래 모듈의 이름이다.

In [ ]:
from max import max_of

number = 0
x = []

while True:
    s = input(f'x[{number}]값은?')
    if s == 'End':
        break
        
    x.append(int(s))
    number += 1
    
print(f'{number}개를 입력했습니다.')
print(f'최댓값은 {max_of(x)}입니다.')

x[0]값은?1
x[1]값은?2
x[2]값은?3
x[3]값은?4
x[4]값은?5
x[5]값은?6
x[6]값은?End
6개를 입력했습니다.
최댓값은 6입니다.

In [ ]:
import random
from max import max_of

num = int(input('난수의 개수: '))
lo = int(input('난수의 최솟값: '))
hi = int(input('난수의 최댓값: ')) # 언어의 의미가 이상하다. 그냥 난수를 생성할 범위를 입력한다고 생각하자
x = [None] * num

for i in range(num):
    x[i] = random.randint(lo, hi)
    
print(f'{(x)}')

난수의 개수: 5
난수의 최솟값: 1
난수의 최댓값: 100
[65, 39, 23, 37, 58]

In [ ]:
from max import max_of

t = (4, 7, 5.6, 2, 3.14, 1)
s = 'string'
a = ['DTS', 'AAA', 'BTS']

print(max_of(t))
print(max_of(s))
print(max_of(a))

7
t
DTS

In [ ]:
list_1 = [1,2,3,4,5]
list_2 = [1,2,3,4,5]

print(list_1 is list_2)

False

In [ ]:
id(list_1)

140350731042952

In [ ]:
id(list_2)

140350731120584

In [ ]:
list_1 == list_2

True

In [ ]:
list_2 = list_1

In [ ]:
list_2 is list_1

True

In [ ]:
list_1[1]= 6

In [ ]:
list_1

[1, 6, 3, 4, 5]

In [ ]:
list_2

[1, 6, 3, 4, 5]

# 2021-05-16

리스트 스캔하기

In [ ]:
x = ['John', 'George', 'Paul', 'Ringo']

In [ ]:
for i in range(len(x)):
    print(f'x[{i}] = {x[i]}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

In [ ]:
for i, name in enumerate(x):
    print(f'x[{i}] = {name}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

In [ ]:
for i, name in enumerate(x,1):
    print(f'{i}번째 = {name}')

1번째 = John
2번째 = George
3번째 = Paul
4번째 = Ringo

In [ ]:
for i in x:
    print(i)

John
George
Paul
Ringo

In [ ]:
for i, name in enumerate(x):
    print(f'x[{i}] = {name}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

In [ ]:
for i, name in enumerate(x, 1):
    print(f'x[{i}] = {name}')

x[1] = John
x[2] = George
x[3] = Paul
x[4] = Ringo

참고자료: https://docs.python.org/ko/3/library/functions.html#enumerate

# 2021-05-17

In [ ]:
x[::-1]

['Ringo', 'Paul', 'George', 'John']

배열 원소를 역순으로 정렬하기

pseudo code

for i in range(n//2):
    a[i]와 a[n-i-1]의 값을 교환

In [ ]:
from typing import Any, MutableSequence

def reverse_array(a: MutableSequence) -> None:
    
    n = len(a)
    for i in range(n // 2):
        a[i], a[n-i-1] = a[n-i-1], a[i]

if __name__ =='__main__':
    print('배열을 역순으로 정렬합니다.')
    nx = int(input('원소의 갯수는: '))
    temp = [None]*nx
    for i in range(nx):
        temp[i] = int(input('원소를 입력하시오(순서대로): '))
    
    reverse_array(temp)
        
    print(temp)

배열을 역순으로 정렬합니다.
원소의 갯수는: 6
원소를 입력하시오(순서대로): 1
원소를 입력하시오(순서대로): 2
원소를 입력하시오(순서대로): 3
원소를 입력하시오(순서대로): 4
원소를 입력하시오(순서대로): 5
원소를 입력하시오(순서대로): 6
[6, 5, 4, 3, 2, 1]

In [ ]:
x = [1,2,3,4,5]

In [ ]:
x.reverse()
x

[5, 4, 3, 2, 1]

In [ ]:
y = x.reverse()
y

In [ ]:
y = reversed(x)
y

In [ ]:
y = list(reversed(x))
y

[1, 2, 3, 4, 5]

기수 변환하기(n진수 구하기)

# 2021-05-18

In [ ]:
def card_cov(x: int, r: int) -> str:
    
    
    
    d = ''
    dchar = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    
    while x > 0:
        d += dchar[x % r]
        x //= r
        
    
    return d[::-1]

# 2021-05-19

In [ ]:
if __name__ == '__main__':
    print('10진수를 n진수로 변환합니다')
    
    while True:
        while True:
            no = int(input('음이 아닌 정수를 입력하세요: '))
            if no > 0:
                break
                
        while True:
            cd = int(input('어떤 진수로 변환할까요? '))
            if 2<= cd <= 36:
                break
            
        print(f'{no}는 {cd}진수로 {card_cov(no, cd)}입니다.')
        break

10진수를 n진수로 변환합니다
음이 아닌 정수를 입력하세요: 32
어떤 진수로 변환할까요? 2
32는 2진수로 100000입니다.

# 2021-05-24

In [ ]:
def sum(n):
    
    s = 0
    while n > 0:
        s += n
        n -= 1
    
    return s

x = int(input('x: '))
print(f'1부터 {x}까지의 합은 {sum(x)}입니다.')

x: 10
1부터 10까지의 합은 55입니다.

# 2021-05-25

파이썬에서는 객체 참조에 의한 호출을 사용한다.
함수의 실행 시작 시점에서 매개변수는 실제 인수와 같은 객체를 참조한다.

### 인수가 이뮤터블일때
함수 안에서 매개변수의 값을 변경하면 다른 객체를 생성하고 그 객체에 대한 참조로 업데이트된다.

In [ ]:
def sum(n):
    
    s = 0
    while n > 0:
        s += n
        n -= 1
    
    return s

x = int(input('x: '))
print(f'1부터 {x}까지의 합은 {sum(x)}입니다.')

x: 10
1부터 10까지의 합은 55입니다.

### 인수가 뮤터블일 때
함수 안에서 매개변수의 값을 변경하면 객체 자체를 업데이트한다. (list등등)

In [ ]:
def change(lst, idx, val):
    lst[idx] =val
    
x = [11,22,33,44,55]
print('x=',x)

index = int(input('업데이트할 인덱스를 선택하세요.: '))
value = int(input('새로운 값을 입력하세요.: '))

change(x, index, value)
print(f'x = {x}')

x= [11, 22, 33, 44, 55]
업데이트할 인덱스를 선택하세요.: 2
새로운 값을 입력하세요.: 3
x = [11, 22, 3, 44, 55]

### 소수 나열하기

In [ ]:
temp = 0
lst = []

for n in range(2, 1001):
    for i in range(2, n):
        temp += 1
        if n % i ==0:
            break
            
    else:
        lst.append(n)
        
print(lst)
print(f'나눗셈을 실행한 횟수: {temp}')

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
나눗셈을 실행한 횟수: 78022

# 2021-05-26

In [ ]:
#알고리즘개선하기
temp = 0
index  = 0
prime = [0]*500

prime[index] = 2
temp += 1

for n in range(3, 1001, 2):
    for i in range(1, index):
        temp += 1
        if n % prime[i] == 0:
            break
    
    else:
        prime[index] = n
        index += 1
R_prime = []
for i in range(index):
    R_prime.append(prime[i])
    
print(R_prime)
print(f'나눗셈을 실행한 횟수: {temp}')
# 내일 다시하기

[3, 5, 7, 9, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
나눗셈을 실행한 횟수: 16800

# 2021-09-03

In [ ]:
counter = 0
ptr = 0
prime = [None]*500

prime[ptr] = 2
ptr += 1

prime[ptr] = 3
ptr += 1

for n in range(5, 1001, 2):
    i = 1
    while prime[i]**2 <= n:
        counter += 2
        if n % prime[i] == 0:
            break
        i += 1
    else:
        prime[ptr] = n
        ptr += 1
        counter += 1

for i in range(ptr):
    print(prime[i])

print(f'나눗셈&곱셈을 실행한 횟수: {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
나눗셈&곱셈을 실행한 횟수: 3774

In [ ]:
x = [[1,2,3],[4,5,6]]
y = x.copy()

In [ ]:
x[0][1]=9

In [ ]:
x

[[1, 9, 3], [4, 5, 6]]

In [ ]:
y

[[1, 9, 3], [4, 5, 6]]

In [ ]:
import copy
x = [[1,2,3],[4,5,6]]
y = copy.deepcopy(x)
x[0][1]=9
print(x)
print(y)

[[1, 9, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]]

In [ ]:
x = [[1,2,3],[4,5,6]]
y = x[:]
x[0][1]=9
print(x)

[[1, 9, 3], [4, 5, 6]]
[[1, 9, 3], [4, 5, 6]]

In [ ]:
print(y)